




    <h2>Global Exceptions</h2>

    <div class="mt-3 alert alert-danger">
        <h3>Path</h3>
        <p>@ViewBag.ExceptionPath</p>
    </div>

    <div class="mt-3 alert alert-danger">
            <h3>Message</h3>
            <p>@ViewBag.ExceptionMessage</p>
    </div>

    <div class="mt-3 alert alert-danger">
        <h3>Stack Trace</h3>
        <p>@ViewBag.ExceptionStackTrace</p>
    </div>

    <div class="mt-3 alert alert-danger">
        <h3>Inner Exception</h3>
        <p>@ViewBag.ExceptionInnerException</p>
    </div>

    <div class="mt-3 alert alert-danger">
        <h3>Source</h3>
        <p>@ViewBag.ExceptionSource</p>
    </div>

